@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');

// Fonts
$primary-font: "Montserrat";
$subheading-font: "Droid Serif";
$secondary-font: "Roboto Slab";

// Colors
$dark-grey: #212529;
$green: #77A0A9;
$green-2: #82A6B0;
$green-1: #759DA9;
$green1: #6895A1;
$green2: #5E8C97;
$yellow: #fed136;